@page
@model SW4BED_3.Pages.HotelModel
@{
	ViewData["Title"] = "Hotel";
}

<div class="text-center">
	<h1 class="display-4">Welcome to the Hotel</h1>
	<form method="post" asp-page-handler="OnPostUpdateReservation">
		<div>
			<div class="col-sm-2">
				<label asp-for="SelectedDate">Select date:</label>
				<input asp-for="SelectedDate" class="form-control" type="date" />
			</div>
			<div class="col-sm-2">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
		<table class="table">
			<thead>
			<tr>
				<th>Room Number</th>
				<th>Adults Reservations</th>
				<th>Kids Reservations</th>
				<th>Adults Check-In</th>
				<th>Kids Check-In</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var roomReservation in Model.RoomReservations)
			{
				<tr>
					<td>@roomReservation.RoomNumber</td>
					<td>
						<input type="number" asp-for="@roomReservation.AdultsReservations" />
					</td>
					<td>
						<input type="number" asp-for="@roomReservation.KidsReservations" />
					</td>
					<td>
						<input type="number" asp-for="@roomReservation.AdultsCheckIn" />
					</td>
					<td>
						<input type="number" asp-for="@roomReservation.KidsCheckIn" />
					</td>
					
					<td>
						<button type="submit" class="btn btn-primary"
						        asp-page-handler="OnPostUpdateReservation"
						        asp-route-reservationId="@roomReservation.ReservationId"
						        asp-route-adultsReservations="@roomReservation.AdultsReservations"
						        asp-route-kidsReservations="@roomReservation.KidsReservations"
						        asp-route-adultsCheckIn="@roomReservation.AdultsCheckIn"
						        asp-route-kidsCheckIn="@roomReservation.KidsCheckIn">
							Update
						</button>
					</td>

				</tr>
			}
			<tr>
				<td>Total</td>
				<td>@Model.TotalAdultReservations</td>
				<td>@Model.TotalKidsReservations</td>
				<td>@Model.TotalAdultsCheckIn</td>
				<td>@Model.TotalKidsCheckIn</td>
				<td></td>
			</tr>
			</tbody>
		</table>
	</form>
	
</div>
